* {
    margin: auto;
    font-family: 'Gulzar', serif;
    font-family: 'Hind', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.header {
    background-image: url('../images/banner/banner3.png');

}


.banner {
    height: 800px;
    line-height: 100px;
    margin-left: 700px;
    margin-top: 0%;

    text-align: center;
}

h1 {
    font-size: 60px;
    color: rgb(233, 233, 250);
    text-align: center;
    vertical-align: middle;

}

h5 {
    color: #565454;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 5%;
    width: 300px;
}

#year {
    font-size: 40px;
    margin-left: 5%;
}

p {
    color: #fdfafa;
    margin-top: 100px;
    margin-left: 15%;
    margin-right: 5%;
}

button {
    margin-top: 140px;
    margin-left: 15%;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(247, 247, 250);
    color: rgb(25, 38, 46);
    text-decoration: none;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    text-align: center;
    transition: background-color 0.5s ease;
}

button:hover {
    background-color: rgb(45, 136, 189);
}

.container {
    background-color: rgb(211, 249, 249);
    height: 800px;
    width: auto;
}

.box1 {
    float: left;
    width: 50%;
    height: 100px;
    margin-left: 20%;


}

.box2 {

    float: left;
    margin-top: 100px;
    width: 50%;
    height: 100px;
    margin-left: 60%;


}

ul {
    color: #565454;
    list-style-type: square;

}

.plan {
    color: #000;
    font-size: 50px;
}

.join {
    height: 300px;

}

.join1 {
    float: left;
    width: 25%;
    height: 100px;
    margin-top: 50px;
    align-items: center;


}

.join2 {
    float: left;
    width: 25%;
    height: 100px;
    margin-top: 50px;
    align-items: center;


}

.join3 {
    float: left;
    width: 25%;
    height: 100px;
    margin-top: 50px;
    align-items: center;



}

.join4 {
    float: left;
    width: 25%;
    height: 100px;
    margin-top: 50px;
    align-items: center;

}

h3 {
    text-align: center;
}

h2 {
    margin-top: 30px;
    margin-left: 120px;

}

.new {
    margin-left: 150px;
}

.health {
    height: 150px;
    background-color: rgb(130, 226, 239);
}

#help {
    color: rgb(254, 255, 253);
    background-color: rgb(52, 62, 67);
    margin-top: 10px;
    margin-left: 80%;
}

#help:hover {
    background-color: rgb(45, 136, 189);
}

#people {
    text-align: center;
    padding-top: 30px;
}

#positive {
    margin-top: 2%;
    border-radius: 2%;
    height: 30%;
    width: 60%;
    background-image: linear-gradient(90deg, hsl(207, 78%, 27%) 0%, rgba(241, 91, 34, 0) 100%), url(../images/watch.png);
}

#call {
    margin-top: 7%;
    margin-bottom: 2%;
}

.last {
    background-color: #000;
    margin-top: 2%;
    height: 500px;
}

.Future1 {
    margin-top: 2%;
    float: left;
    width: 50%;
    justify-content: space-between;

}

.end {
    margin-top: 20px;
    margin-left: 300px;
}

.Future2 {
    margin-top: 4%;
    float: left;
    width: 50%;
    justify-content: space-between;
}

#email {

    margin-left: 20%;
    height: 30px;
    width: 250px;
}

#submit {
    margin-left: 10%;
}